body {
  font-family: 'Inter', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  margin: 0;
  padding: 0;
  background-color: #fdfdfd;
  color: #333;
}

header {
  background-color: #3a6ea5;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#menu {
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.navigation {
  display: none;
  flex-direction: column;
  background-color: #3a6ea5;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
}

.navigation a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.navigation a:hover {
  background-color: #2e5984;
}

.navigation.open {
  display: flex;
}

.navigation.open {
  display: flex;
}

/* Main */
main {
  max-width: 100%;
  margin: 1rem;
  padding: 1rem;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

figure {
  margin: 0;
  text-align: center;
  background: #fff;
  padding: .5rem;
  border-radius: 8px;
}

.gallery figure img,
img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  display: block;
}

/* Footer */
footer {
  text-align: center;
  background-color: #3a6ea5;
  color: white;
  padding: 1rem;
  margin-top: 2rem;
}
