@media only screen and (min-width: 32rem) {
  #menu {
    display: none;
  }

  .navigation {
    display: flex !important;
    flex-direction: row;
    position: static;
    width: auto;
    background: none;
    gap: 1rem;
  }

  .navigation a {
    border: none;
  }
}

@media only screen and (min-width: 40rem) {
  main {
    max-width: 1100px;
    margin: 1.5rem auto;
    padding: 1.25rem;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
  }
}

@media only screen and (min-width: 64rem) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }

  
  .gallery figure img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
    border-radius: 8px;
  }
}
