@media only screen and (min-width: 32rem) {
  #menu {
    display: none;
  }

  .navigation {
    display: flex !important;
    flex-direction: row;
    position: static;
    width: auto;
    background: none;
    gap: 1rem;
  }

  .navigation a {
    border: none;
  }
}
